body{
    background-color: #f2dede;
}
.main{
    margin: 35px;
}
.btn-publish{
    float: right;
    margin-bottom: 15px;
}
.media-object{
    width: 35px;
    height: 35px;
}
.text-desc{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}
.community-menu{
    color: #999;
    font-size: 12px;
}